header section{
  justify-content: space-between;
}

header img{
  width: 100px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

header section ul li{
  margin: 10px;
}