@media(max-width: 1150px){
  .container{
    width: 950px;
  }
}

@media(max-width: 1024px){
  .container{
    width: 850px;
  }

  main figcaption img{
    width: 400px;
  }
}

@media(max-width: 915px){
  .container{
    width: 600px;
  }

  .row{
    flex-direction: column;
  }

  main article{
    width: 100%;
  }

  main figcaption img{
    width: 100%;
    margin: 30px 0 0 0;
  }

  header nav{
    margin: 30px 0;
  }

  footer .row{
    flex-direction: row;
    justify-content: center;
  }
}

@media(max-width: 600px){
  .container{
    width: 450px;
  }

  main section article{
    width: 280px;
  }

  main figcaption img{
    width: 300px;
  }

  header nav{
    background: #fff;
    width: 100%;
    padding: 10px 0 20px;
    border-radius: 30px;
  }

  header nav ul{
    flex-direction: column;
  }

  header nav ul li{
    margin: 10px 0;
  }
}

@media(max-width: 450px){
  .container{
    width: 290px;
  }

  header nav{
    background: #fff;
    width: 100%;
    padding: 10px 0 20px;
    border-radius: 30px;
  }

  .nav-menu{
    flex-direction: column;
  }

  header nav ul li{
    margin: 10px 0;
  }
}
